<!-- app/templates/components/library-item.hbs -->
<div class="panel panel-default library-item">
  <div class="panel-footer text-right">
    <button class="btn btn-default" {{action 'createFields' item}}>Create Fields</button>
  </div>
  <div>

    <div class="form-horizontal">


      {{#if newFields}}
        {{museum-field-item-form item=newFields museum=item action='exhibitFieldSave'}}
      {{/if}}
    </div>
  </div>
  {{#each item.fields as |field|}}
    <div class="panel-heading">
      <h3 class="panel-title">Name: {{field.name}}</h3>
    </div>
    <div class="panel-body">
      <p>Description: {{field.description}}</p>
    </div>
  {{/each}}

</div>
